/*my css file for the bootstrap project*/

body {
    padding-bottom: 80px;
}

#headerRed{
        color: red;
    font-family: 'Bree Serif', serif;
}

/*about.html*/
.page-header {
    margin-top: 0;
}
.panel-body {
    padding-top: 0;
}
.featureImg{
    padding-bottom: 10px;
}